@import "tailwindcss";
@plugin "daisyui" {
  themes: light --sunset, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.leaflet-bottom leaflet-right {
  display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
